@model Order
@{
    ViewData["Title"] = "Create order";

}
@inject IHttpContextAccessor HttpContextAccessor;
@{
    string email = HttpContextAccessor.HttpContext.Session.GetString("Email") ?? "";
}
@if (email.Length == 0)
{
    <script type="text/javascript">
        alert("Please login first");
        window.location.href = "../../Home/Login";
    </script>
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <br>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="OrderId" class="form-control" value="0" readonly="readonly" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label">MemberId(<span style="color:red">*</span>)</label>
                <select class="form-control"  asp-for="MemberId"
                        asp-items="@(new SelectList(ViewBag.members, nameof(Member.MemberId), nameof(Member.Email)))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label">OrderDate(<span style="color:red">*</span>)</label>
                <input class="form-control"  type="date" asp-for="OrderDate" value="@ViewBag.orderdate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredDate" class="control-label">RequiredDate</label>
                <input class="form-control"  type="date" asp-for="RequiredDate" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippedDate" class="control-label">ShippedDate(<span style="color:red">*</span>)</label>
                <input class="form-control" type="date" asp-for="ShippedDate" value="@ViewBag.shippeddate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label">Freight</label>
                <input type="number" asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng ký" class="btn btn-primary" style="width:100%;margin-top:5px"/>
            </div>
        </form>
    </div>
</div>